name: ci

on:
  push:
    branches:
      - master
    paths-ignore:
      - "**.md"
  pull_request:
  merge_group:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.head.label || github.run_id }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

permissions: {}

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v6
      - run: make ci
        env:
          REGISTRY: ci
      - name: Smoke test chromium
        run: docker run --rm ci/chromium:latest --version
      - name: Smoke test firefox
        run: docker run --rm ci/firefox:latest --version
      - name: Smoke test gcloud
        run: docker run --rm ci/gcloud:latest gcloud --version
      - name: Smoke test net-block
        run: docker run --rm ci/net-block:latest /usr/sbin/dnsmasq --version
      - name: Smoke test net-cache
        run: docker run --rm ci/net-cache:latest /usr/sbin/squid --version
      - name: Smoke test net-tools
        run: docker run --rm ci/net-tools:latest /usr/bin/nmap --version
