name: ci
on: push
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - run: make ci
        env:
          REGISTRY: ci
      - name: Smoke test chromium
        run: docker run --rm ci/chromium:latest --version
      - name: Smoke test firefox
        run: docker run --rm ci/firefox:latest --version
      - name: Smoke test gcloud
        run: docker run --rm ci/gcloud:latest gcloud --version
      - name: Smoke test net-block
        run: docker run --rm ci/net-block:latest /usr/sbin/dnsmasq --version
      - name: Smoke test net-cache
        run: docker run --rm ci/net-cache:latest /usr/sbin/squid --version
      - name: Smoke test net-tools
        run: docker run --rm ci/net-tools:latest /usr/bin/nmap --version
