# FIXME: check_update.sh results in images only being published when there are
# apk package updates but we ALSO need publish when files within a build
# context have changed
#   ↳ Compare hash of current build vs what's on ghcr.io + existing check_update.sh logic
#   ↳ Maybe something like `git diff --name-only <from> <to>` + get SHA hash of
#     last master commit with successful publish + hash of current commit

# TODO: Tag images with something deterministic (SHA1 hash?) + latest

name: publish

on:
  workflow_run:
    workflows:
      - ci
    types:
      - completed
    branches:
      - master
  workflow_dispatch:

jobs:
  push_to_registry:
    if: ${{ github.event.workflow_run.conclusion == 'success' && github.event_name != 'pull_request' && github.repository_owner == 'maxmilton' }}
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
      - uses: actions/checkout@v6
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - run: make publish
        env:
          REGISTRY: ghcr.io/maxmilton
